//homeIcon
.homeIcon {
    -fx-effect: null;
}

.homeIcon:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,100,100,0.8), 10, 0, 0, 0);
}

//chapter screens
.chapter_ellipse {
    -fx-opacity: 0.7;
}

.chapter_ellipse:hover {
    -fx-opacity: 1;
}

//test
.testMainWindow {
    -fx-background-color: #9ED5DB;
    -fx-border-color: #DDE3A8;
    -fx-border-width: 10;
}

//mainPane
.mainPane {
    -fx-background-radius: 15;
    -fx-background-color: #6CBD93;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

//infoPane
.infoPane {
    -fx-background-color: rgb(195,227,168);
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-background-radius: 15;
}

.infoPaneChapterText {
    -fx-font-size: 20;
}

.infoPaneCategoryText {
    -fx-font-size: 20;
}

.testImage {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}