//buttons
.nextButton {
    -fx-text-fill: white;
    -fx-background-color: rgba(0,64,255,0.7);
    -fx-background-radius: 15;
    -fx-font-size: 24;
    -fx-cursor: hand;
    -fx-text-alignment: center;
    -fx-pref-height: 56.0;
    -fx-pref-width: 260.0;
}

.nextButton:hover {
}

.submitButton {
    -fx-text-fill: white;
    -fx-background-color: rgba(22,230,0,0.7);
    -fx-background-radius: 15;
    -fx-font-size: 24;
    -fx-cursor: hand;
    -fx-text-alignment: center;
    -fx-pref-height: 56.0;
    -fx-pref-width: 245.0;
}

.submitButton:hover {
}
